.sidebar{
    height: calc(100vh-50px);
    background-color: rgb(251, 251, 255);
    position: sticky;
    top: 50px;
    left: 5px;
}
.sidebarWrapper{
    padding: 20px;
    color: #555;
}
.sidebarMenu{
    margin-bottom: 10px;
}
.sidebarTitle{
    font-size: 23px;
    color: rgb(58, 12, 87);
    list-style: none;
}
.sidebarList{
    list-style: none;
    padding: 5px;
}
.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 20px;
}
.sidebarListItem.active ,.sidebarListItem.hover{
    background-color: rgb(228, 228, 250);
    color: rgb(58, 12, 87);
}
.sidebarListItem::selection{
    color: red;
}
.sidebarListItem:focus{
    color: rgb(58, 12, 87);
}
.sidebarListItem:active{
    color: rgb(58, 12, 87);
}
.sudebarIcon{
    margin-right: 15px;
    font-size: 20px !important;
    color: rgb(58, 12, 87);
}
li:hover{
    color: rgb(58, 12, 87);
}
.card{
    margin-top: 30px;
}

ul.sidebarList li a:visited {
    background:lime;
    }